<h1 class="page-heading">About Bitfolio</h1>
<h3 class="page-subheading">What is it?</h3>
<p class="page-text">The bitfolio app is a simple CRUD-style application demonstrating the use of simple web application techniques. It's purpose is to allow users who purchase and sell bitcoin across several exchanges to aggregate and manage their transaction information.</p>
