<h1 class="page-heading">About Bitfolio</h1>
<p class="page-text">The bitfolio app is a  <a class="crud-wiki-link" href="https://en.wikipedia.org/wiki/Create,_read,_update_and_delete">CRUD</a>-style application demonstrating the use of four basic operations of persistent storage; create, read, update and delete. The application's purpose is to allow users who purchase and sell bitcoin across several exchanges to aggregate and manage their transaction information.</p>

