<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bitfolio - track your bitcoin</title>
  <link rel="shortcut icon" href="/resources/logo/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/resources/logo/favicon.ico" type="image/x-icon">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="page-wrapper full-height">

    <header>
      
      <div class="top-header">
        <div class="left-header">
          <img class="shield-header" src="/resources/logo/logo_shield_only.png" alt="">
          <h1 class="inline header-title">Bitfolio</h1>
          <h2 class="inline header-subtitle">by crspy</h2>
        </div>

        <div class="centre-header">
          <p class="btc-title ticker pad-right bold">Bitcoin</p><p class="ticker pad-left">$<span class="current-usd ticker"><%= session[:usd_price] %></span></p>
        </div>

        <div class="right-header">
          <% if logged_in?%>

            <p class="">logged in as <span class="bold"><%= current_user['username'] %></span></p>
        
            <form class="logout-form" action="/sessions" method="post"><input type="hidden" name="_method" value="delete">
            <button class="inline logout-btn">log out</button>
            </form> 

            <% else %>
            <a class="inline login-link" href="/login">Log in</a> <a href="/signup">Sign up</a>
          <% end %>
        </div>
      </div>
      

      <div class="bottom-header">
        <nav class="inline">
          <ul class="inline top-nav-ul">
            <li class="inline top-nav-li" ><a href="/">dashboard</a></li>
            <li class="inline top-nav-li"><a href="/trades/new">add trade</a></li>
            <li class="inline top-nav-li"><a href="/satoshi_converter">satoshi converter</a></li>
            <li class="inline top-nav-li"><a href="/about">about</a></li>
          </ul>
        </nav>
      </div>

      
      
      
      

      

      

        
    </header>

    <div class="wrapper grow">
      <%# <main> %>

        <%= yield %>

      <%# </main>
      <aside>
        <%# <section class="forex-calculator">
          <h3>Bitcoin price in fiat</h3>
          <form action="">
          <label for="">Currency</label>
          <input type="text">
          <p class="display-forex-result"></p>
          <button>Go</button>
          </form>
        </section> %>

        <%# <section class="satoshi-calculator">
          <h3>Satoshi Calculator</h3>
          <form action="">
            <label for="">Bitcoin</label>
            <input class="bitcoin-value" type="number"  step="any">
            <label for="">Satoshis</label>
            <input class="satoshi-value" type="number"  step="any">
            <label for="">US Dollars</label>
            <input class="usd-value" type="number"  step="any">
          </form>
        </section> %>
      <%# </aside> %>
    </div>


    <footer>
      <p>&copy; copyright crspy 2021</p>
      <p class="disclaimer">The BTC price data was produced from the CoinDesk Bitcoin Price Index (USD). Non-USD currency data converted using hourly conversion rate from openexchangerates.org</p>
    </footer>

  </div>

<script src="/javascripts/application.js"></script>

</body>
</html>
