<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bitfolio</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>
<h1>Bitfolio</h1>
<h2>Track your bitcoin portfolio</h2>
<% if logged_in?%>

    <p>logged in as <%= current_user['username'] %></p>
  
    <form action="/sessions" method="post"><input type="hidden" name="_method" value="delete">
    <button>log out</button></form> 
    <p><a href="/login">Login</a></p>

  <% else %>
    <a href="/login">Log in</a> <a href="/signup">Sign up</a>
  <% end %>
</header>

  <%= yield %>

<footer>

</footer>
</body>
</html>
