<h1>Add a trade</h1>

<form action="/trades/preview" method = "get">
<label for="">Date of Trade</label>
<input type="date" name = "trade_date">
<label for="">Type of trade</label>
<select name="trade_type" id="trade_type">
  <option value="BUY">BUY</option>
  <option value="SELL">SELL</option>
</select>
<label for="">Amount of Bitcoin</label>
<input type="number" step="any" name = "amount">
<label for="">Price/Bitcoin ($US)</label>
<input type="number"  step="any" name = "price">
<button>Preview</button>
</form>