<h1 class="page-heading">Satoshi Converter</h1>
<h3 class="page-subheading">What is a satoshi?</h3>
<p class="page-text">The satoshi is currently the smallest unit of the bitcoin currency recorded on the block chain. It is a one hundred millionth of a single bitcoin (0.00000001 BTC). The unit has been named in collective homage to the original creator of Bitcoin, Satoshi Nakamoto. Read more at the <a class="bitcoin-wiki-link" href="https://en.bitcoin.it/wiki/Satoshi_(unit)">Bitcoin Wiki</a></p>

<section class="satoshi-calculator">
          <h3>Calculator</h3>
          <form class="satoshi-form" action="">
            <label for="">Bitcoin</label>
            <input class="bitcoin-value" type="number"  step="any">
            <label for="">Satoshis</label>
            <input class="satoshi-value" type="number"  step="any">
            <label for="">US Dollars</label>
            <input class="usd-value" type="number"  step="any">
          </form>
</section>
